html,
body {
  font-family: system-ui, Segoe UI, Helvetica Neue, Arial;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--color-dark-gray);
}

:root {
  --max-width-xs: 480px;
  --max-width-s: 600px;
  --max-width-m: 850px;
  --max-width-l: 1280px;
  --max-width-xl: 1680px;
  --max-width-xxl: 1920px;

  --baseline: 30px;

  --color-dark-gray: #212121;

  --grid-container-width: 1460px;

  --white: #ffffff;
  --black: #000000;
  --indigo: #13157f;
  --lightGreen: #15bcaf;
  --aqua: #65ffcc;
  --governor: #5b5d9b;
  --whiteSmoke1: #f2f2f2;
  --whiteSmoke2: #f5f5f5;
  --whiteSmoke3: #f5f5f5;
  --gray: #808080;
  --dimGray1: #676767;
  --dimGray2: #696969;
  --dodgerBlue: #0086ff;
  --midnightBlue: #0f1166;
  --eveningSea: #2a6050;
  --turquoise: #40f4b3;
  --dolphin: #c8c8c8;
  --goldenYellow: #fcdd06;
}

img {
  max-width: 100%;
  width: auto;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }
}
